#player,#player a{ color:#333; font-size: 12px; font-family: tahoma;}
#player{ background:url(sizerAndVol.png); background-position:bottom; background-color: #ffffff;}
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px; font-size: 12px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px; }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#666; }
#player #seekerBuffered{ background-color:#CCC; }
#player #seekerSliderBase{ background-color:#666; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#666; color:#333;}
#playlist .module{ color:#333; background-color:#ffffff; }
#playlist h3{ background:url(bar.jpg); color:#000000; background-color:#ffffff;  }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#EEF7FF;}
#playlist .focus{ background-color:#fff; color:#aaa;}